﻿<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular TypeScript App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Angular 2">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    <!-- Scripts if using SystemJS (webpack is another option)-->
    <!-- Polyfill(s) for older browsers -->
    <script src="lib/shim.min.js"></script>
    <script src="lib/zone.js"></script>
    <script src="lib/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>

</head>
<body>
    <header class="navbar navbar-inner navbar-fixed-top">
        @*<nav class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logo" src="images/codewithdanlogo.png" alt="logo" />
                <div>
                    <a href="/home" class="app-title">Angular/ASP.NET Core Seed Project</a>
                </div>
            </div>
        </nav>*@


        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Cloud Apps</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @*<li class="active"><a routerLink="/flights" routerLinkActive="active">Flights</a></li>
                        <li><a routerLink="/hotels" routerLinkActive="active">Hotels</a></li>
                        <li><a routerLink="/cars" routerLinkActive="active">Cars</a></li>
                        <li><a routerLink="/tools" routerLinkActive="active">Travel Tools</a></li>
                        <li><a routerLink="/deals" routerLinkActive="active">Today's Deals</a></li>*@


                        <li class="active">@Html.ActionLink("Home","Index","Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                        <li>@Html.ActionLink("Register", "Register", "Home")</li>
                    </ul>

                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <router-outlet></router-outlet>


    </header>


    @RenderBody()

    <footer>
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            Created by <a href="http://twitter.com/DanWahlin" target="_blank">@@DanWahlin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <form asp-antiforgery="true"></form>


    <!--
        If using webpack and AOT comment out system.js
        scripts in head and add bundle scripts from webpack
        here.
    -->

</body>
</html>
